# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# ctags file
tags

# tmux development setup
.tmux-setup.sh

vendor/bundle

# carrierwave uploads
public/uploads
