<div class="row">
  <div class="span1">
    <%= image_tag current_user.avatar_url(:thumb) %>
  </div>

  <div class="span3">
    <h3>Hello, <%= current_user.username %>!</h3>
  </div>

</div>

<hr />
