<div class="row">
  <div class="span1">
    <%= image_tag current_user.avatar_url(:thumb) %>
  </div>

  <div class="span3">
    <h3>Hello, <%= current_user.username %>!</h3>
  </div>

</div>

<hr />

<% present current_user do |p| %>
  <h2>Upcoming Tasks</h2>
  <br /><br />
  <%= p.upcoming_tasks %>

  <hr />

  <h2>Upcoming Watched Tasks</h2>
  <br /><br />
  <%= p.upcoming_watched_tasks %>
<% end %>
