<h2>Fun to use!</h2>

<ol>
  <li>Create private or public ToDo lists</li>
  <li>Share your public lists with your friends</li>
  <li>Watch public ToDo lists</li>
</ol>

<h2>Login</h2>

Don't have an account yet? <%= link_to 'Sign up!', '#' %>
