<h1>Ops! We could not find that page...</h1>

<%= image_tag '404.png' %>

<br /><br />

Or maybe you are trying to view a private page. 
<%= link_to 'Sign up', new_user_registration_path %> now and start using fresk!

<br /><br />

<%= link_to 'Back', :back %>
