<div class="row well">
  <div class="span2">
    <b><%= link_to task_list.name, task_list_path(task_list) %></b>
  </div>

  <div class="span1">
    <%= task_list_icon(task_list) %>
  </div>

  <div class="span2">
    (<%= pluralize(task_list.tasks.size, 'task') %>)
  </div>

  <div class="span1">
    <%= link_to remove_task_list_icon, task_list, method: :delete, title: 'Remove task list' %>
  </div>
</div>
