<h2>Task Lists</h2>

<%= render(partial: 'task_list_summary', collection: @task_lists, as: :task_list) || 'There are no task lists.' %>

<p>
  <%= link_to 'Create a new one', new_task_list_path %>
</p>
