<p>Hello, <b><%= @resource.username %>!</b></p>

<p>It's so great to have you with us!!!!!</p>

<p>Please confirm your account email through the link below:</p>

<p><%= link_to 'Account confirmation', 
  confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<i>The fresk© team.</i>
