<header>
  <div class="row">
    <div class="span2">
      <h1>fresk</h1>
    </div>
    <div class="span2">
      <%= link_to image_tag('logo.png'), root_path %>
    </div>
  </div>
  <p class="headline">
    <i>ToDo lists made social.</i>
  </p>
</header>
